body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#entry_form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mood_img{
    width: 10vh;
    height: 10vh;
    border: 5px solid #000000;
    border-radius: 25px;
}

#mood_div{
    display: flex;
    gap: 20px;
}

.radiowrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    position: relative;
}

.radiowrapper input{
    visibility:hidden; 
    width:0;
}

.mood_title {
    display: none; /* Hidden by default */
    position: absolute;
    top: 80%;
}

label:hover + .mood_title {
    display: block; /* Shows the mood title when hovering over the label */
}

.radiowrapper input:checked + label + .mood_title {
    font-weight:bold; 
    display: block;
}
