body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.warning{
    color: red;
    font-weight: bold;
}

.entry_info{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.entry_form{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2vw;
    margin: 1em auto;
    background-color: #eeeeee;
    width: 35%;
    padding: 0.75em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd; 
    border-radius: 8px;
}

#entry{
    max-width: 100%;
    resize: none;
}

.mood_div{
    display: flex;
    flex-direction: column;
}

.mood_img{
    width: 5vh;
    height: 5vh;
    border: 5px solid #000000;
    border-radius: 25px;
}

.radio_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-bottom: 1em;
}

.radio_wrapper input{
    visibility:hidden; 
    width:0;
}

.mood_title {
    display: none; /* Hidden by default */
    position: absolute;
    left: 50%;
}

label:hover + .mood_title {
    display: block; /* Shows the mood title when hovering over the label */
}

.radio_wrapper input:checked + label + .mood_title {
    font-weight:bold; 
    display: block;
}
